body 
{
    margin:0px;
    padding:0px;
    font-family:微软雅黑;
}
.bodys
{
    width:100%;
}
.backgrounds
{
    width:640px;
    height:1030px;
    background-color:Gray;
}
.title
{
    width:640px;
    height:260px;
    float:left;
}
.title_name
{
    width:640px;
    height:80px;
    float:left;
    background-color:#5f9f3f;
}
#title_name_ico
{
    width:60px;
    height:60px;
    float:left;
    text-align:left;
    text-align:center;
    padding-top:20px;
}
#title_name_font
{
    width:560px;
    height:65x;
    text-align:center;
    font-size:36px;
    font-family:微软雅黑;
    padding-top:15px;
    color:White;
    padding-right:20px;
}
.gray_area
{
    width:620px;
    height:52px;
    float:left;
    text-align:left;
    background-color:#efefef;
    font-size:30px;
    color:Gray;
    padding-left:20px;
    padding-top:8px;
}
.near
{
    width:610px;
    height:50px;
    float:left;
    text-align:left;
    background-color:White;
    padding-left:30px;
    padding-top:10px;
}
.content_area
{
    width:640px;
    height:770px;
    float:left;
    background-color:white;
}
#wrapper 
{
    width:640px;
    height:770px;
    float:left;
	overflow: hidden;
}

#scroller {
	position:relative;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 640px;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.smallDiv
{
    width:600px;
    height:70px;
    text-align:left;
    color:rgb(100,100,100);
    font-size:24px;
    border-bottom:1px solid rgb(220,220,220);
    list-style-type:none;
    padding-top:10px;
    padding-left:40px;
}
#shopName
{
    font-family:微软雅黑;
    color:rgb(100,100,100);
    font-size:28px;
}
#shopAddress
{
    font-family:微软雅黑;
    color:#767474;
    font-size:20px;
}