body 
{
    margin:0px;
    padding:0px;
    font-family:微软雅黑;
    text-decoration:none;
}
.bodys
{
    width:100%;
}
.backgrounds
{
    width:640px;
    height:1030px;
    background-color:gray;
}
.title_name
{
    width:640px;
    height:80px;
    float:left;
    background-color:#5f9f3f;
}
#title_name_ico
{
    width:60px;
    height:60px;
    float:left;
    text-align:left;
    text-align:center;
    padding-top:20px;
}
#title_name_font
{
    width:560px;
    height:65x;
    text-align:center;
    font-size:36px;
    font-family:微软雅黑;
    padding-top:15px;
    color:White;
    padding-right:20px;
}
.updateAddressContent
{
    width:580px;
    height:571px;
    background-image:url(../img/bj.png);
    float:left;
    margin-top:30px;
    margin-left:30px;
}
.hang
{
    width:550px;
    height:60px;
    border-bottom:1px solid rgb(200,200,200);
    text-align:left;
    font-size:28px;
    color:#585958;
    padding-left:30px;
    padding-top:20px;
}
.end
{
    width:550px;
    height:150px;
    float:left;
    border-bottom:1px solid rgb(200,200,200);
    padding-left:30px;
    padding-top:20px;
    text-align:left;
    font-size:28px;
    color:#585958;
}

.txt
{
    width:300px;
    height:30px;
    border:0px;
    font-size:24px;
    font-family:微软雅黑;
}
.txts
{
    width:300px;
    height:100px;
    border:0px;
    font-size:24px;
    font-family:微软雅黑;
}
#address_button
{
    width:580px;
    height:80px;
    float:left;
    text-align:center;
    margin-top:40px;
}
#address_bt
{
    background-image:url(../img/button_save.png);
    width:504px;
    height:80px;
    border:0px;
}