body 
{
    margin:0px;
    padding:0px;
    text-decoration:none;
    font-family:微软雅黑;
}
.bodys
{
    width:100%;
}
.backgrounds
{
    width:640px;
    height:1030px;
    background-color:rgb(222,222,222);
}
#map
{
    width:640px;
    height:83px;
    float:left;
    position:relative;
    z-index:2;
    background-image:url(../img/map.png);
    background-color:transparent;
}
#address
{
    width:420px;
    height:45px;
    float:left;
    margin-top:15px;
    font-size:28px;
    font-family:微软雅黑;
    padding-top:5px;
    text-align:left;
    padding-left:30px;
    cursor:pointer;
}
#logon_ico
{
    height:45px;
    width:45px;
    float:right;
    margin-right:20px;
    margin-top:20px;
}
#content
{
    width:640px;
    height:950px;
    float:left;
}
#menu
{
    width:180px;
    height:950px;
    float:left;
    background-color:white;
}
.menu_once
{
    border-bottom:1px solid rgb(200,200,200);
    font-size:30px;
    height:72px;
    width:180px;
    float:left;
    text-align:center;
    background-color:White;
    padding-top:38px;
    font-family:微软雅黑;
    color:#4C4646;
}

.menu_once a{ display:block; text-decoration:none; color:Black}

#product
{
    width:457px;
    height:950px;
    float:left;
    border-left:3px solid white;
    overflow:hidden;
}
#bottom
{
    width:640px;
    height:100px;
    background-color:transparent;
    float:left;
    margin-top:-100px;
    background-color:Yellow;
}
#go_sale_money
{
    width:180px;
    height:37px;
    color:pink;
    float:left;
    background-color:white;
    text-align:center;
    font-size:28px;
    color:#fd6a37;
    font-family:Arial;
}
#go_sale_img
{
    position:fixed;
    bottom:40px;
    left:30px;
    z-index:50;
    height:100px;
    width:160px;
    transition: all 0.4s;
    -moz-transition: all 0.4s;	/* Firefox 4 */
    -webkit-transition: all 0.4s;	/* Safari 和 Chrome */
    -o-transition: all 0.4s;	/* Opera */
}
#go_sale_img.show
{
    height:400px;
}
#go_sale_img_1
{
    width:45px;
    height:54px;
    float:left;
    background-repeat:no-repeat;
    text-align:right;
    padding-top:30px;
}
#go_sale_img_1_label
{
    width:37px;
    height:37px;
    background-image:url(../img/yuan_10.png);
    border:0px;
    background-color:transparent;
    background-repeat:no-repeat;
}
#go_sale_img_2
{
    width:85px;
    height:86px;
    float:left;
    background-image:url(../img/xiaopingguo_08.png);
    background-repeat:no-repeat;
    background-position:left;
}
#bottom_sale_img_2
{
    width:85px;
    height:84px;
    float:left;
    background-image:url(../img/xiaopingguo_08.png);
    background-repeat:no-repeat;
    background-position:left;
}
#go_sale_img_3
{
    width:130px;
    height:54px;
    float:left;
    background-image:url(../img/go_sale.png);
}
.cover
{
    width:457px;
    height:260px;
    float:left;
    background-image:url(../img/demo_2.jpg);
}
.pro_name
{
    width:437px;
    height:40px;
    float:left;
    text-align:right;
    font-family:微软雅黑;
    font-size:28px;
    padding-right:20px;
    padding-top:10px;
}
.pro_component
{
    width:437px;
    height:40px;
    font-size:20px;
    font-family:微软雅黑;
    text-align:right;
    float:left;
    padding-right:20px;
    padding-top:5px;
    color:rgb(100,100,100);
}
.pro_price
{
    width:437px;
    height:80px;
    float:left;
    font-size:28px;
    color:red;
    text-align:right;
    padding-right:20px;
    font-family:微软雅黑;
}
.buttons
{
    width:437px;
    height:80px;
    float:left;
    text-align:right;
    padding-right:20px;
}
.jian
{
    width:80px;
    height:80px;
    background-color:transparent;
    background-image:url(../img/minus.png);
    border:0px;
    float:right;
    background-repeat:no-repeat;
}
.jia
{
    width:80px;
    height:80px;
    background-color:transparent;
    background-image:url(../img/add.png);
    border:0px;float:right;background-repeat:no-repeat;
}
.innerCount
{
    width:75px;
    height:63px;
    background-color:transparent;
    background-image:url(../img/num.png);
    border:0px;
    font-size:36px;float:right;background-repeat:no-repeat;
    text-align:center;
    padding-top:17px;
    font-family:Arial;
    color:rgb(100,100,100);
    padding-right:5px;
}


#wrapper 
{
    width:457px;
    height:950px;
	overflow: hidden;
}

#scroller {
	position:relative;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 457px;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
#shop_name
{
    color:White;
}
#shade
{    
    background-color:#000;
    width:640px;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
    filter:alpha(opacity=60);  /*设置透明度为60%*/
    opacity:0.6;  /*非IE浏览器下设置透明度为60%*/
    display:block; /* http://www.jb51.net */
    height:1030px;
    float:left;
    position:fixed;
    bottom:0;
    z-index:5;
    margin-top:-1033px;
}
 .footer-detail-iscroll
 {
    position:fixed;
    bottom:0px;
    z-index:40;
    height:90px;
    width:640px;
    transition: all 0.4s;
    -moz-transition: all 0.4s;	/* Firefox 4 */
    -webkit-transition: all 0.4s;	/* Safari 和 Chrome */
    -o-transition: all 0.4s;	/* Opera */
    font-size:30px;
    background-color:White;
} 
.footer-detail-iscroll.show
{
    height:401px;
}
#bottom_90
{
    width:640px;
    z-index:43;
    height:90px;
    background-color:blue;
    position:fixed;
    bottom:0px;
    filter:alpha(Opacity=80);
    -moz-opacity:0.5;
    opacity: 0.5;
    background-color:#ffffff;
    font-size:30px;
}

#bottom_90_sub
{
    width:129px;
    height:54px;
    background-image:url(../img/anniu_11.png);
    border:0px;
    position:relative;
    z-index:50;
    bottom:0;
    top:-10px;
    background-color:transparent;
}
#footer_content
{
    width:580px;
    height:250px;
    float:left;
    margin-top:50px;
    margin-left:30px;
    OVERFLOW-Y: auto;
    OVERFLOW-X:hidden;
}
#footer_jiesuan
{
    width:640px;
    height:80px;
    float:left;
    border-top:1px solid rgb(200,200,200);
}
#bottom_90_sub_div
{
    width:640px;
    height:90px;
    float:left;
    position:fixed;
    bottom:0px;
    z-index:80;
}
.footer_jiesuan_left
{
    width:340px;
    height:50px;
    float:left;
    text-align:center;
    padding-top:30px;
    font-size:28px;
    color:#fd6a37;
    padding-left:60px;
}
.footer_jiesuan_right
{
    width:240px;
    height:60px;
    float:left;
    text-align:center;
    padding-top:20px;
}
.footer_content_left
{
    text-align:left;
}
.footer_content_right
{
    text-align:right;
}
.footer_content_font
{
    position:relative;
    top:-20px;
}
#footer_anniu
{
    width:129px;
    height:54px;
    border:0px;
    background-image:url(../img/anniu_11.png);
    background-color:transparent;
}
